{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        h1{
           text-align: center;
        }
        .login_wrap{
            border-radius: 15px;
            border: 2px #666 solid;
            margin: 0 auto;
            padding: 10px;
            width: 500px;
            height: 350px;
            text-align: center;
        }
        .input{
            margin:20px
        }
    </style>
    <title>인현민의 인현민</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="contgainer-fluid">
            <a href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">로그인</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>