{% extends "posts.html" %}
{% block content %}
    <form action="" method="post">
        <div class="card my-3">
            <div class="card-body">
                {% csrf_token %}
                <span>제목</span>
                {{form.title}}
                <br>
                <span>작성자</span>
                {{article.name}}
                <br>
                <span>내용</span>
                {{form.contents}}
                <br>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">수정</button>
    </form>
{% endblock %}