{% extends "base.html" %}
{% load community_filter %}
{% block content %}
<div class="container my-3">
    <div class="container d-flex my-3 justify-content-start">
        <div>
            <h1 style="font-weight: bold;">커뮤니티</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>시간</th>
            </tr>
        </thead>
        <tbody>
            {%for article in articleList %}
            <tr>
                <td>{{article.id}}</td>
                <td>
                    {%if article.category == "notice" %}
                    <span class="badge bg-danger" style="font-size: 8px;">{{article.category}}</span>
                    {% else %}
                    <span class="badge bg-secondary" style="font-size: 8px;">{{article.category}}</span>
                    {% endif %}
                    <strong><a href="/posts/v/{{article.id}}" class="text-decoration-none link-dark">{{ article.title }}</a></strong>
                    {% if article.comment_set.count > 0 %}
                    <span style="font-size: 12px;">{{article.comment_set.count}}</span>
                    {% else %}
                    <span> </span>
                    {% endif %}
                </td>
                <td>
                    {{article.name}} 
                </td>
                <td>
                    {{article.cdate|date:"Y M d | H : m : s" }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--페이지-->
    <nav class="pagination-wrapper">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if articleList.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ articleList.previous_page_number }}">&lt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link text-dark" tabindex="-1" aria-disabled="true" href="#">&lt;</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            <li class="page-item active" aria-current="page">
                <a class="page-link bg-light text-dark border">{{ articleList.number }} / {{ max_page }}</a>
            </li>
            <!-- 다음페이지 -->
            {% if articleList.has_next %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ articleList.next_page_number }}">&gt;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link text-dark" tabindex="-1" aria-disabled="true" href="#">&gt;</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
    <div class="text-center">
        <button class="btn btn-dark" onclick="location.href='write/' ">글쓰기</button> 
    </div>
    <a href="{% url 'community:test' %}">테스트</a>
</div>
{% endblock %}