{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h1 class="text-center"><strong>{{article.title}}</strong></h1>
    <div class="border-bottom">
        <div class="row my-3">
            <div class="col">
                <span class="py-2">{{article.name}}</span>
            </div>
            <div class="col">
                <div class="text-end">
                    <span class="badge bg-secondary">{{article.hits}}</span>
                    <a class="btn btn-dark btn-sm" href="{% url 'community:posts' %}">목록</a>
                    <a class="btn btn-dark btn-sm" href="modify">수정</a>
                    <a class="btn btn-dark btn-sm" href="delete">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body" style="overflow: auto;">
            {{article.contents|safe}}
        </div>
        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{article.name}}</div>
                <div>{{article.cdate}}</div>
            </div>
        </div>
    </div>
    <!--추천-->
    <div>

    </div>
    <!--댓글-->
    <div class="comment_wrap">
        {% for comment in article.comment_set.all %}
        <div class="border-top">
            <div class="row" style="height: 48px; font-size: 12px;">
                <div class="col-3">
                    {{ comment.name }}
                    {% if comment.name == user %}
                    <a href="{% url 'community:comment_delete' num=article.id cnum=comment.id %}" class="text-dark">삭제</a>
                    {% endif %}
                </div>
                <div class="col-5">
                    {{ comment.contents }}
                </div>
                <div class="col-1">
                    {{ comment.cdate|date:"H:m:s"}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--댓글 작성-->
    {% if user.is_authenticated %}
    <div class="comment_wrap border-top">
        <form action="{% url 'community:comment_create' article.id %}" method="post" class="my-3">
            {% csrf_token %}
            <div class="mb-3">
                <label for="content" class="form-label">댓글 입력</label>
                <div class="row">
                    <div class="col-9">
                        <textarea name="content" id="content" class="form-control" rows="3" placeholder="내용을 입력하세요."></textarea>
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-dark btn-sm" value="확인">
                    </div>
                </div>
             </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}