{% extends 'base.html' %}
{% load shop_filter %}
{% load static %}
{% block content %}
<aside id="sidebar-wrap">
  <div class="sidebar-left">
    <ul class="nav nav-tabs">
      <li class="nav-item" style="font-size:13px">
        <button class="nav-link active text-dark" id="brand-tab" data-bs-toggle="tab" 
        data-bs-target="#brand" type="button" role="tab" aria-controls=
        "brand" aria-selected="true">브랜드</button>
      </li>
      <li class="nav-item" style="font-size:13px">
        <button class="nav-link text-dark" id="category-tab" data-bs-toggle="tab" 
        data-bs-target="#category" type="button" role="tab" aria-controls=
        "category" aria-selected="true">카테고리</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="brand" role="tabpanel" aria-labelledby="brand-tab">
        <ul class="item-list">
          {% for item in brandlist.keys %}
          <li class="sidebar-item"><strong><a class="text-decoration-none text-dark" href="/shop/brands/{{item}}">{{item}}</a></strong></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="category" role="tabpanel" aria-labelledby="category-tab">
        <form action="" method="GET">
          <div class="item-list d-flex flex-wrap" style="width:200px">
            {% for item in categorylist.keys %}
            <strong><button type="submit" name="category" class="m-1 btn btn-secondary" value="{{item}}">{{item}}</button></strong>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
</aside>
<article class="container-wrap d-flex flex-column">
  <div class="container">
    <div class="p-2">
      <h2><strong>{{brand}}</strong></h2>
      <h4 class="text-secondary">{{category}}</h4>
    </div>
  </div>
  <div class="container d-flex flex-wrap">
    {% for item in productlist %}
    <div class="p-2 m-1 card shop-item">
      <img class="card-img-top" src="{{item.image}}" alt="" style="width: 182px; height: 182px;">
      <div class="card-body">
        <div class="row">
          <div class="col"><span class="card-title">item</span></div>
          <div class="col text-end"><span class="card-text" style="font-size: 12px;">{{item.category3}}</span></div>
        </div>
        <hr class="divider">
        <div class="w-100" style="text-align: end;">
          <h6 class="card-text"><strong>{{item.lprice|comma}}</strong></h6>
          <a class="btn btn-dark btn-sm" href={{item.link}}>이동</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
<aside>
  <div class="sidebar-right">사이드바</div>
</aside>
{% endblock %}