{% extends 'base.html' %}
{% load shop_filter %}
{% block content %}
<aside id="sidebar-wrapper">
  <ul class="sidebar-main">
    {% for brand in brandlist %}
    <li class="sidebar-item"><strong>{{brand}}</strong></li>
    {% endfor %}
  </ul>
</aside>
<article class="container-wrap">
  <div class="container d-flex flex-wrap">
    {% for item in productlist %}
    <div class="p-2 m-1 card shop-item">
      <img class="card-img-top" src="{{item.image}}" alt="" style="width: 182px; height: 182px;">
      <div class="card-body">
        <div class="row">
          <div class="col"><span class="card-title">item</span></div>
          <div class="col text-end"><span class="card-text" style="font-size: 12px;">{{item.category3}}</span></div>
        </div>
        <hr class="divider">
        <div class="w-100" style="text-align: end;">
          <h6 class="card-text"><strong>{{item.lprice|comma}}</strong></h6>
          <a class="btn btn-dark btn-sm" href={{item.link}}>이동</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}