{% load static %}
<!DOCTYPE html>
<html lang="ko" class="navbar-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <style>
        .login{
            border-radius: 15px;
            border: 2px #666 solid;
            margin: 0 auto;
            padding: 10px;
            width: 500px;
            height: 350px;
            text-align: center;
        }
        .input{
            margin:20px
        }
    </style>
    <title>인현민의 인현민</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- 네비게이션바 -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="{% url 'home' %}">🔥</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'community:posts' %}">커뮤니티</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown">{{ user.username }}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a class="dropdown-item" href=" {% url 'users:profile' %}">프로필</a></li>
                            <li><a class="dropdown-item" href=" {% url 'users:logout' %}">로그아웃</a></li>
                        </ul>
                    </li>
                        {% else %}
                    <li>
                        <a class="nav-link text-white" href=" {% url 'users:login' %}">로그인</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!-- 에러 처리 컨테이너 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!--본문 컨테이너-->
    {% block content %}
    {% endblock %}
    <!--푸터-->
    <footer class="py-5 bg-dark mt-auto p-4">
        <p class="text-white text-end">footer</p>
    </footer>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>