{% load static %}
<!DOCTYPE html>
<html lang="ko" class="width-1300 navbar-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <style>
        .login_wrap{
            border-radius: 15px;
            border: 2px #666 solid;
            margin: 0 auto;
            padding: 10px;
            width: 500px;
            height: 350px;
            text-align: center;
        }
        .input{
            margin:20px
        }
    </style>
    <title>인현민의 인현민</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- 네비게이션바 -->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom px-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">🔥</a>
                <ul class="nav navbar-nav ml-auto ml-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'community:posts' %}">커뮤니티</a>
                    </li>
                </ul>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href=" {% url 'users:logout' %}">로그아웃</a>
                        </li>
                            {% else %}
                        <li>
                            <a class="nav-link text-white" href=" {% url 'users:login' %}">로그인</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- 에러 처리 컨테이너 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <footer class="py-5 bg-dark mt-auto p-4">
        <p class="text-white text-end">Copyright : 인현민</p>
    </footer>
    <script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>