{% extends "base.html" %}
{% block content %}
<div class="container-wrap">
    <div class="login my-3">
        <h1>🐐</h1>
        {% include 'users/form_error.html' %}
        <form method = 'post', action="{% url 'users:login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="input">
                <label for="username">아이디</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="input">
                <label for="password">비밀번호</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-dark">로그인</button>
            <a href="/users/signup" class="btn btn-dark">회원가입</a>
        </form>
    </div>
</div>
{% endblock %}