{% extends 'base.html' %}
{% block content %}
<div class="wrap_container">
    <div class="container card my-3">
        <h1 class="text-center"><strong>PROFILE</strong></h1>
        <div class="card m-3 p-4">
            <div class="row">
                <div class="col-3">
                    <img src="{{user.profile_picture}}" alt="" class="w-100">
                    <hr class="divider">
                    <h2><strong>{{user}}</strong></h2>
                    <ul class="list-group">
                        <a class="list-group-item" href="#">프로필 변경</a>
                        <a class="list-group-item" href="#">로그아웃</a>
                        <a class="list-group-item" href="#">회원 탈퇴</a>
                        <a class="list-group-item" href="#">기타</a>
                    </ul>
                </div>
                <div class="col card"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}